:root {
--Button-Text:#737373;
--Header-Text:#737373;
--Footer-Background:#EFEFEFA1;
--Content-Text:#ffffff;
--Header-Background:#EFEFEFA1;
--Button-Background:#F7F7F7;
--Content-Background:#ffffff;
--Button-Hover-Text:#FFFFFF;
--Footer-Text:#737373;
--Button-Hover-Background:#D16969;
}